{% extends "master.html" %}

{% block title %}
  My Contact List
{% endblock %}


{% block content %}
  <h1 style="color: whitesmoke; font-size: 90px;font-family:sans-serif; text-align: center; padding-top: 60px;">My Contact List</h1>

  <h3 style="font-family: sans-serif; font-size: 35px; text-align: center; color: whitesmoke;margin-left: 30px; padding-top: 15px;">Contacts</h3>
  
  <p style="font-family: sans-serif; font-size: 35px; text-align: center; color: white; margin-left: 30px;">Check out all our <a style="color: gold; "href="index/">Click here</a></p>
  
{% endblock %}


