body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAUCo2GR0dSao2nJOqrIEgS7Bs3o5sUsO5ZA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:sans-serif;
}

.table-container
{
    padding:0 10%;
    padding-top: 40px;
    margin: 10px auto 0;
    margin-top: 0;
}

.heading 
{
    font-size: 40 px;
    text-align: center;
    color:#f1f1f1;
    margin-bottom:40px;
}
.table 
{
    width:100%;
    border-collapse:collapse;
}

.table thead {
    background-color: #456464;
}

.table thead tr th 
{
    font-size:14px;
    font-weight:600;
    letter-spacing:0.35px;
    color: #FFFFFF;
    opacity:1;
    padding:12px;
    vertical-align:top;
    border: 1px solid white;
    border-collapse: collapse;
}

.table tbody tr td 
{
    font-size:14 px;
    Letter-spacing:0.35px;
    font-weight:normal;
    background-color: #96D4D4;
    padding:8 px;
    text-align:center;
    border: 1px solid white;
    border-style: outset;
    background-color: #67f79e;
}

.indexh1{
    color: white;
    padding-left: 30px;  
}

.form-inline {
    color: white;
    padding-left: 30px;
    padding-bottom: 40px;
}

.search {
    color: white;
    padding-left: 30px;
}

/* search.html */

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAUCo2GR0dSao2nJOqrIEgS7Bs3o5sUsO5ZA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: inherit;
    font-family:sans-serif;
}
.table-container
{
    padding:0 10%;
    margin:40px auto 0;
}
.heading 
{
    font-size: 40 px;
    text-align: center;
    color:#dfc2c2;
    margin-bottom:40px;
}
.table 
{
    width:100%;
    background-color: #3cf443;
    border-collapse:collapse;
    border: 1px solid white;
    
}
.table thead 
{
    background-color: rgb(86, 86, 138);
}
.table thead tr th 
{
    font-size:14px;
    font-weight: 600;
    letter-spacing:0.35px;
    color: white;
    opacity:1;
    padding:12px;
    vertical-align:top;
    border:1px solid white;
}
.table tbody tr td 
{
    font-size:14 px;
    Letter-spacing:0.35px;
    font-weight:normal;
    background: color #3cf443;;
    padding:8 px;
    text-align:center;
    border:1px solid #000000;
}

h1 {
    color: white;
    padding-left: 30px;
    padding-top: 30px;
}


/* edit.html */

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAUCo2GR0dSao2nJOqrIEgS7Bs3o5sUsO5ZA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:sans-serif;
}

h1 {
    color: white;
    padding-left: 30px;
}

.form-inline {
    padding-top: 100px;
    margin-left: 30px;
    color: white;
}